:root {
    --bcg: #FAFAFA;
    --bcg-el: #FFFFFF;
    --border: #E0E0E0;
    --accent-color: #0067C0;
    --accent-color-hover: #0073d7;
    --no-accent: #F5F5F5;
    --grey-text: #666666;
    --black: #000000;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --header-bcg: #FFFFFFB3;
    --white: #FFFFFF;
}

* { margin: 0; padding: 0; font-family: var(--font); color: var(--black); transition: all 0.2s ease; }
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
  outline: none;
}
*::-webkit-scrollbar {
    display: none;
}

span {
    color: var(--accent-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bcg);
    padding-top: 150px;
    overflow-x: hidden;
}

header {
    width: calc(100% - 20px);
    height: 80px;
    background: var(--header-bcg);
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.02);

    & img {
        height: 40px;
    }

    & a {
        text-decoration: none;
        color: var(--grey-text);

        &:hover {
            color: var(--accent-color);
        }
    }
}

.hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    scroll-margin-top: 200px;
}
.left__hero {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
    box-sizing: border-box;
    padding-left: 30px;

    & h1 {
        font-size: 70px;
        font-weight: 400;
        line-height: 80px;
    }

    & p {
        font-size: 22px;
        color: var(--grey-text);
    }

    & .hero__buttons {
        display: flex;
        gap: 20px;

        & a {
            font-size: 20px;
            background: var(--no-accent);
            padding: 15px 30px;
            border-radius: 10px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        & .download__button__hero {
            background: var(--accent-color); 
            color: var(--white);

            & i {
                color: var(--white);
            }

            &:hover {
                background: var(--accent-color-hover);

                & i {
                    transform: translateX(5px);
                }
            }
        }
    }
}
.right__hero {
    & img {
        height: 500px;
    }
}

.products {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 100px;
    scroll-margin-top: 100px;

    & .text__products {
        & h1 {
            font-size: 50px;
            font-weight: 400;
        }

        & p {
            margin-top: 10px;
            font-size: 22px;
            color: var(--grey-text);
        }
    }

    & .el__products {
        width: 100%;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 30px;

        & .el__product {
            flex: 1;
            max-width: 30%;
            min-width: 30%;
            background: var(--bcg-el);
            border: 1px solid var(--border);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 100%;
                border-radius: 9px 9px 0 0;
            }

            & .about__product {
                flex: 1;
                box-sizing: border-box;
                padding: 20px;

                & .product__name {
                    font-size: 25px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    color: var(--black);
                }

                & p {
                    font-size: 18px;
                    color: var(--grey-text);
                }
            }

            & a {
                text-decoration: none;
                background: var(--accent-color);
                width: calc(100% - 40px);
                margin-bottom: 20px;
                height: 45px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: var(--white);

                & i { color: var(--white); }
            }
        } 
    }
}

footer {
    width: 100%;
    background: var(--bcg);
    box-sizing: border-box;
    padding: 30px;
    border-top: 1px solid var(--border);
    padding-top: 45px; padding-bottom: 45px;

    & .elements__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid var(--border);

        & .el__footer {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            
            & img {
                height: 50px;
            }

            & .footer_h {
                color: var(--black);
            }

            & p, a {
                color: var(--grey-text);
            }

            & a {
                text-decoration: none;

                &:hover {
                    color: var(--black);
                }
            }
        }
    }
}

@media (max-width: 1030px) {
    .left__hero {
        & h1 {
            font-size: 60px;
            font-weight: 400;
            line-height: 70px;
        }
    }
}

@media (max-width: 921px) {
    .left__hero {
        & h1 {
            font-size: 50px;
            font-weight: 400;
            line-height: 50px;
        }

        & p {
            font-size: 20px;
        }

        & .hero__buttons {
            & a { display: none; }
            & .download__button__hero { display: flex; }
        }
    }
}

@media (max-width: 789px) {
    .left__hero {
        width: 100%;
        padding-right: 30px;

        & h1 {
            font-size: 50px;
            font-weight: 400;
            line-height: 50px;
        }

        & p {
            font-size: 20px;
        }

        & .hero__buttons {
            & a { display: none; }
            & .download__button__hero { display: flex; }
        }
    }
    .right__hero { display: none; }
    
    .products {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 100px;
        scroll-margin-top: 100px;

        & .text__products {
            & h1 {
                font-size: 50px;
                font-weight: 400;
            }

            & p {
                margin-top: 10px;
                font-size: 22px;
                color: var(--grey-text);
            }
        }

        & .el__products {
            width: 100%;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            gap: 30px;

            & .el__product {
                flex: 1;
                max-width: 50%;
                min-width: 47%;
                background: var(--bcg-el);
                border: 1px solid var(--border);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                & img {
                    width: 100%;
                    border-radius: 9px 9px 0 0;
                }

                & .about__product {
                    flex: 1;
                    box-sizing: border-box;
                    padding: 20px;

                    & .product__name {
                        font-size: 25px;
                        margin-bottom: 10px;
                        font-weight: 400;
                        color: var(--black);
                    }

                    & p {
                        font-size: 18px;
                        color: var(--grey-text);
                    }
                }

                & a {
                    text-decoration: none;
                    background: var(--accent-color);
                    width: calc(100% - 40px);
                    margin-bottom: 20px;
                    height: 45px;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    color: var(--white);

                    & i { color: var(--white); }
                }
            } 
        }
    }
}

@media (max-width: 605px) {
    .left__hero {
        width: 100%;
        padding-right: 30px;

        & h1 {
            font-size: 50px;
            font-weight: 400;
            line-height: 50px;
        }

        & p {
            font-size: 20px;
        }

        & .hero__buttons {
            & a { display: none; }
            & .download__button__hero { display: flex; }
        }
    }
    .right__hero { display: none; }
    
    .products {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 100px;
        scroll-margin-top: 100px;

        & .text__products {
            & h1 {
                font-size: 50px;
                font-weight: 400;
            }

            & p {
                margin-top: 10px;
                font-size: 22px;
                color: var(--grey-text);
            }
        }

        & .el__products {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;

            & .el__product {
                flex: 1;
                max-width: 100%;
                background: var(--bcg-el);
                border: 1px solid var(--border);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                & img {
                    width: 100%;
                    border-radius: 9px 9px 0 0;
                }

                & .about__product {
                    flex: 1;
                    box-sizing: border-box;
                    padding: 20px;

                    & .product__name {
                        font-size: 25px;
                        margin-bottom: 10px;
                        font-weight: 400;
                        color: var(--black);
                    }

                    & p {
                        font-size: 18px;
                        color: var(--grey-text);
                    }
                }

                & a {
                    text-decoration: none;
                    background: var(--accent-color);
                    width: calc(100% - 40px);
                    margin-bottom: 20px;
                    height: 45px;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    color: var(--white);

                    & i { color: var(--white); }
                }
            } 
        }
    }

    footer {
        width: 100%;
        background: var(--bcg);
        box-sizing: border-box;
        padding: 30px;
        border-top: 1px solid var(--border);
        padding-top: 45px; padding-bottom: 45px;

        & .elements__footer {
            width: 100%;
            display: flex;
            justify-content: start;
            flex-direction: column;
            gap: 50px;
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid var(--border);

            & .el__footer {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 10px;
                
                & img {
                    height: 50px;
                }

                & .footer_h {
                    color: var(--black);
                }

                & p, a {
                    color: var(--grey-text);
                }

                & a {
                    text-decoration: none;

                    &:hover {
                        color: var(--black);
                    }
                }
            }
        }
    }
}

@media (max-width: 507px) {
    header a { display: none; }
    header { justify-content: center; }
}